*{
    font-family: Arial, Helvetica, sans-serif;
}
.overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.562);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup{
    background-color: white;
    width: 300px;
    padding: 15px;
    border-radius: 5px;
}

.p1{
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 8px;
}
.p2{
    font-size: 14px;
    margin-bottom: 10px;
}